.wrapper {
  margin-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.count {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  span {
    opacity: 0.4;
  }
}
